<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://budgetmaster20200203113813.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ad184b4d-7b5b-46c7-8578-12317b7dbcf1/resourcegroups/Default-Storage-NorthEurope/providers/Microsoft.Web/sites/BudgetMaster20200203113813</ResourceId>
    <UserName>$BudgetMaster20200203113813</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://budgetmaster20200203113813.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>